@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root{
    --Cyan: hsl(179, 62%, 43%);
    --Bright-Yellow: hsl(71, 73%, 54%);
    --Light-Gray: hsl(204, 43%, 93%);
    --Grayish-Blue: hsl(218, 22%, 67%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    padding: 4.25rem 2rem;
    background-color: var(--Light-Gray);
    min-height: 100vh;
}

.container{
    margin-bottom: 2rem;
    display: grid;
}

.first{
    padding: 2rem 1.5rem 2.25rem;
    background-color: white;
    border-radius: .3rem .3rem 0 0;
}

.first h2{
    color: var(--Cyan);
    margin-bottom: 2rem;
    font-size: 20px;
}

.first h4{
    color: var(--Bright-Yellow);
    margin-bottom: 1rem;
    font-size: 15px;
}

.first p{
    color:var(--Grayish-Blue);
    font-size: 13px;
    line-height: 1.5rem;
}

.second{
    background-color: var(--Cyan);
    padding-top: 1.75rem;
    padding: 2rem 1.5rem 2.25rem;
}

.second h2{
    color: white;
    font-size: 19px;
}

.second .price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    font-size: 26px;
    width: 100%;
}

.second .price h2{
    font-size: 28px;
}

.second .price span{
    color: var(--Light-Gray);
    font-size: 16px;
    padding-right: 45%;
}

.second h4{
    color: #FFF;
    margin-bottom: 1.5rem;
}

.second p{
    color: #FFF;
    margin-bottom: 2rem;
}

.second button{
    background-color: transparent;
    border: none;
    color: white;
    background-color: var(--Bright-Yellow);
    width: 100%;
    height: 3.125rem;
    border-radius: .5rem;
    width: 100%;
}

.third{
    background-color: hsl(179, 55%, 55%);;
    padding: 2rem 1.5rem 2.25rem;
    border-radius: 0 0 .3rem .3rem ;
}

.third h4{
    color: #FFF;
    margin-bottom: 22px;
    font-size: 18px
}

.third p{
    line-height: 1.5;
    font-size: 13px;
}

.third ul{
    list-style: none;
    color: var(--Light-Gray);
    font-size: 15px;
}

.third li{
    margin-bottom: 5px;
}

/*Desktop Design*/
@media(min-width:920px){
    body{
        padding: 0;
    }
    .container{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        max-width: 39.75rem;
        max-height: 474px;
    }
    
    .first{
        grid-column: 1/3;
        padding: 2.75rem 2.375rem;
        height: 13.5rem;
        border-radius: .5rem .5rem 0 0;
        padding-left: 2.3rem;
    }

    .first h2{
        font-size: 24px;
    }

    .first h4{
        font-size: 18px;
    }

    .first p{
        padding-right: 5%;
        font-size: 16px;
    }

    .second{
        border-bottom-left-radius: .5rem;
        padding: 2rem 2.3rem 2.25rem;
    }

    .second .price h2{
        font-size: 30px;
    }

    .second .price span{
        padding-right: 40%;
    }
    
    .second h4{
        font-size: 18px;
    }

    .third{
        border-radius: 0 0 .5rem 0;
        padding: 2rem 2.3rem 2.25rem;
    }
    
    .third h4{
        font-size: 18px;
    }

    .third p{
        font-size: 16px;
    }

}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }